<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ylxt.gpmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".work.ui.activity.MainActivity" />
        <activity android:name=".work.ui.activity.KaiTiActivity" />
        <activity
            android:name=".work.ui.activity.LogActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".work.ui.activity.ShengbaoActivity" />
        <activity android:name=".work.ui.activity.ShengbaoShowActivity" />
        <activity android:name=".work.ui.activity.GongGaoActivity" />
        <activity android:name=".teacher.ui.activity.TeacherMainActivity" />
        <activity android:name=".teacher.ui.activity.TeacherShenbaoActivity" />
        <activity android:name=".teacher.ui.activity.TeacherAllSubjectActivity" />
        <activity android:name=".work.ui.activity.XuantiActivity" />
        <activity android:name=".work.ui.activity.ShouXinActivity" />
        <activity android:name=".work.ui.activity.SendActivity" />
        <activity android:name=".work.ui.activity.RizhiActivity" />
        <activity android:name=".teacher.ui.activity.ShenbaoShowActivity" />
        <activity android:name=".teacher.ui.activity.TeacherAddSubjectActivity" />
        <activity android:name=".teacher.ui.activity.TeacherKaitiActivity" />
        <activity android:name=".teacher.ui.activity.KaitiShowActivity" />
        <activity android:name=".work.ui.activity.ZhongqiActivity" />
        <activity android:name=".teacher.ui.activity.TeacherZhongqiActivity" />
        <activity android:name=".teacher.ui.activity.ZhongqiShowActivity" />
        <activity android:name=".work.ui.activity.DinggaoActivity" />
        <activity android:name=".teacher.ui.activity.TeacherDinggaoActivity" />
        <activity android:name=".teacher.ui.activity.DinggaoShowActivity" />
        <activity android:name=".work.ui.activity.DabianActivity"></activity>
    </application>

</manifest>